.div {
  background-color: #110c17;
  display: flex;
  flex-direction: column;
}
.div-2 {
  background-color: #000;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
  }
}
.div-3 {
  disply: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 364px;
  width: 100%;
  padding-bottom: 31px;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
  }
}
.img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div-4 {
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 0px;
  padding: 9px 24px 9px 80px;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}
.div-5 {
  justify-content: space-between;
  border-radius: 6px 0px 0px 6px;
  border: 1px solid #3c3838;
  background: linear-gradient(180deg, #3c3838 0%, #272525 100%);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06),
    0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 10px;
  padding: 9px 13px;
}
.img-2 {
  aspect-ratio: 0.71;
  object-fit: contain;
  object-position: center;
  width: 10px;
  overflow: hidden;
  max-width: 100%;
}
.div-6 {
  justify-content: center;
  color: #f7f3f2;
  text-align: center;
  align-self: start;
  flex-grow: 1;
  white-space: nowrap;
  font: 400 14px/17px Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-6 {
    white-space: initial;
  }
}
.img-3 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 32px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06),
    0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
}
.div-7 {
  position: relative;
  align-self: center;
  display: flex;
  margin-top: 27px;
  width: 693px;
  max-width: 100%;
  flex-direction: column;
  align-items: start;
  padding: 0 20px;
}
.div-8 {
  justify-content: center;
  color: #ec1717;
  align-self: stretch;
  font: 600 54px/68px Inconsolata, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-8 {
    max-width: 100%;
    font-size: 40px;
    line-height: 56px;
  }
}
.div-9 {
  justify-content: center;
  color: #dad1e6;
  align-self: stretch;
  margin-top: 42px;
  font: 400 18px/29px Fira Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-9 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-10 {
  justify-content: center;
  color: #000;
  text-align: center;
  border-radius: 4.5px;
  background: linear-gradient(128deg, #ff6680 5%, #ff4da9 45%, #cd42d7 85%);
  margin-top: 23px;
  width: 175px;
  max-width: 100%;
  align-items: center;
  padding: 29px 20px;
  font: 700 18px/29px Inconsolata, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-11 {
  background-color: #241631;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}
@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
  }
}
.div-12 {
  width: 798px;
  max-width: 100%;
  margin: 25px 0 30px;
}
.div-13 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-13 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 75%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-14 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-14 {
    max-width: 100%;
  }
}
.div-15 {
  justify-content: center;
  color: #d9d9d9;
  font: 700 45px/56px Inconsolata, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-15 {
    max-width: 100%;
    font-size: 40px;
    line-height: 55px;
  }
}
.div-16 {
  justify-content: center;
  color: #dad1e6;
  margin-top: 33px;
  font: 400 18px/29px Fira Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-16 {
    max-width: 100%;
  }
}
.div-17 {
  display: flex;
  margin-top: 84px;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-17 {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.div-18 {
  justify-content: center;
  color: #dad1e6;
  font: 400 18px/29px Fira Sans, sans-serif;
}
.div-19 {
  justify-content: center;
  color: #dad1e6;
  font: 400 18px/29px Fira Sans, sans-serif;
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-20 {
  justify-content: center;
  color: #dad1e6;
  margin-top: 187px;
  font: 400 18px/29px Fira Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-20 {
    margin-top: 40px;
  }
}
.div-21 {
  background-color: #241631;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}
@media (max-width: 991px) {
  .div-21 {
    max-width: 100%;
  }
}
.div-22 {
  display: flex;
  width: 744px;
  max-width: 100%;
  flex-direction: column;
  margin: 134px 0 44px;
}
@media (max-width: 991px) {
  .div-22 {
    margin: 40px 0;
  }
}
.div-23 {
  justify-content: center;
  color: #dad1e6;
  font: 400 18px/29px Fira Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-23 {
    max-width: 100%;
  }
}
.div-24 {
  margin-top: 35px;
}
@media (max-width: 991px) {
  .div-24 {
    max-width: 100%;
  }
}
.div-25 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-25 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-26 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-26 {
    margin-top: 40px;
  }
}
.div-27 {
  color: #dad1e6;
  font: 400 18px/29px Fira Sans, sans-serif;
}
.div-28 {
  color: #dad1e6;
  margin-top: 13px;
  font: 400 18px/29px Fira Sans, sans-serif;
}
.div-29 {
  justify-content: center;
  color: #dad1e6;
  margin-top: 16px;
  font: 400 18px/29px Fira Sans, sans-serif;
}
.div-30 {
  justify-content: center;
  color: #dad1e6;
  margin-top: 14px;
  font: 400 18px/29px Fira Sans, sans-serif;
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 75%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}
.div-31 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-31 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-32 {
  color: #dad1e6;
  font: 400 18px/29px Fira Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-32 {
    max-width: 100%;
  }
}
.div-33 {
  color: #dad1e6;
  margin-top: 13px;
  font: 400 18px/29px Fira Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-33 {
    max-width: 100%;
  }
}
.div-34 {
  justify-content: center;
  color: #dad1e6;
  margin-top: 14px;
  font: 400 18px/29px Fira Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-34 {
    max-width: 100%;
  }
}
.div-35 {
  justify-content: center;
  color: #dad1e6;
  margin-top: 14px;
  font: 400 18px/29px Fira Sans, sans-serif;
}
@media (max-width: 991px) {
  .div-35 {
    max-width: 100%;
  }
}